@model Produto

<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <img src="~/images/@Model.UrlImagem" alt="@Model.UrlImagem" class="card-img-top img-fluid rounded">
        <div class="card-body d-flex flex-column">
            <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.IdProduto" class="text-decoration-none">
                <h4 class="card-title text-dark">@Model.NomeProd</h4>
            </a>

            <p class="card-text text-muted h-100">@Model.Descricao</p>

            <p class="card-text text-danger">Preço: @Model.Valor.ToString("c")</p>

            <div class="mt-auto">
                <a class="btn btn-dark" id="carButton"
                   asp-controller="CarrinhoCompra"
                   asp-action="AdicionarItemAoCarrinhoCompra"
                   asp-route-LancheId="@Model.IdProduto">
                    Incluir no carrinho
                </a>
            </div>
        </div>
    </div>
</div>

